extends ../layouts/common.pug
block content
    h1 Create New User
    if errors
        each error in errors
            .alert.alert-danger=error
    form(action="/users/create", method="POST",enctype="multipart/form-data")
        .mb-3
            label(class="form-label") Name
            input.form-control(type="text", name="name" ,value=values ? values.name : '')
        .mb-3   
            label(class="form-label") Phone
            input.form-control(type="text", name="phone", value=values ? values.phone : '')
        .mb-3   
            label(class="form-label") Email
            input.form-control(type="email", name="email", value=values ? values.email : '')
        .mb-3   
            label(class="form-label") Password
            input.form-control(type="password", name="password", value=values ? values.password : '')
        .mb-3 
            label(class="form-label") Avatar 
            br
            input.form-control-file(type="file",name="avatar")
    
        button(class="btn btn-primary ms-2") Create
